<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrarme</a></li>
    </ul>
</nav>



<h2>Perfil Profesional</h2>
<form method="POST">
    <input name="profession" placeholder="Profesión" value="{{ professional.profession if professional else '' }}">
    <input name="location" placeholder="Ubicación" value="{{ professional.location if professional else '' }}">
    <textarea name="bio" placeholder="Sobre ti">{{ professional.bio if professional else '' }}</textarea>
    <button type="submit">Guardar</button>
</form>
